.App {
  text-align: center;
  margin-bottom: 50px;
}
.App-header {
  background-color: #222;
  height: 250px;
  padding: 20px;
  color: white;
}

.thermometer-container {
  display: flex;
  justify-content: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

pre {
  padding: 16px;
  background-color: #f6f8fa;
  margin-bottom: 30px;
  line-height: 1.45;
  overflow: auto;
  text-align: left;
}

table {
  display: block;
  border-spacing: 0;
  border-collapse: collapse;
  font-family: sans-serif;
}

th, td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}


.examples {
  display: flex;
  justify-content: center;
}
